$button-EMSPEED-base-color: #FFFFFF !default;
$button-EMSPEED-base-color2: #EDEDED !default;
$button-EMSPEED-text-color: #000000 !default;
$button-EMSPEED-text-color2: #6084A8 !default;
$button-EMSPEED-font-family: Univers 57 condensed !default;

