// Default vars
$font-default-family: Arial, Helvetica, sans-serif;
$font-condensed: "Univers 57 condensed";
$font-condensed-light: "Univers 57 CondensedLight";
$reporting-images: '/_layouts/EMSPortal/app/reporting/resources/images';
