$color-red: #FF0000; // Red
$color-orange: #FFBF00; // Orange
$color-yellow: #FFFF00; // Yellow
$color-green: #7FFF00; // Green
$color-light-blue: #007FFF; // Light Blue
$color-cyan: #00FFFF; // Cyan
$color-blue: #0000FF; // Blue
$color-purple: #7F00FF; // Purple
$color-magenta: #FF00FF; // Magenta
$color-black: #000; // Black
$color-white: #FFF; // White

// Schlumberger colors
$color-slb-blue:#003366;
$color-slb-white: #ffffff;
$color-slb-light-gray: #cccccc;
$color-slb-mid-gray: #999999;
$color-slb-dark-gray: #666666;
$color-slb-green: #339933;


// emspeed colors by madpow
$color-emspeed-blue: #5f86af;
$color-emspeed-light-blue: #eaf1f9; 
$color-emspeed-project-header-border: #4b84c2;
$color-emspeed-project-header-top: #eeeeee;
$color-emspeed-project-header-bottom: #e5e5e5;

//emspeed left menu
$color-emspeed-left-menu-bg: #f1f1f1;
$color-emspeed-left-menu-text: #386a9d;
$color-emspeed-left-menu-bg: #f1f1f1; 
$color-emspeed-left-menu-hover: #d7d7d7;
$color-emspeed-left-menu-active: #d7d7d7;

$emspeed-menu-border-top: 1px solid #fff;
$emspeed-menu-border-bottom: 1px solid #ccc; 

// matrix
$color-matrix-insignificant: #6187ae;	// blue (top: #b9cbdf, bottom: #6187ae)
$color-matrix-low: #87ac4d;				// green (top: #cede61, bottom: #87ac4d)
$color-matrix-medium: #fecd06;			// yellow (top: #fbf49c, bottom: #fecd06)
$color-matrix-high: #ed2124;			// red (top: #f16566, bottom: #ed2124)
$color-matrix-extreme: #333333;			// black (top: #999999, bottom: #333333)
