/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}
/*+- OmniWorks Replacement History - EPort`src`UI`SharePoint`Layouts`EMSPortal`common`ux`grid`css:RangeMenu.css;1 */
/*       1*[1781117] 08-AUG-2013 15:55:04 (GMT) MGusmano */
/*         "adding interactive and us folders in Client UI" */
/*+- OmniWorks Replacement History - EPort`src`UI`SharePoint`Layouts`EMSPortal`common`ux`grid`css:RangeMenu.css;1 */
