// Experimenting with background animation 
@mixin menu-hover-def{
	from { background-color: #d5e1f7;}
	to { background-color: #e1ebfd; }
}

@-webkit-keyframes menu-hover {
	@include menu-hover-def;
}

@keyframes menu-hover {
	@include menu-hover-def;
}
 
@mixin menu-hover-def2{
	from { background-color: $color-emspeed-left-menu-bg;}
	to { background-color: $color-emspeed-left-menu-hover; }
}

@-webkit-keyframes menu-hover2 {
	@include menu-hover-def2;
}

@keyframes menu-hover2 {
	@include menu-hover-def2;
}
// end

.emspeed-menu-container {
	position: relative;

	.emspeed-show-hide-menu {
		position: absolute;
		right: 2px;
		width: 12px;
		height:12px;
		top:5px;
		cursor:pointer;
	}

	.icon-collapsed {
		background-image: url('/_layouts/EMSPortal/app/project/resources/images/icon-hideMenu.png');

		&:hover {
			background-image: url('/_layouts/EMSPortal/app/project/resources/images/icon-hideMenuOver.png');
		}

	}

	.icon-expanded {
		background-image: url('/_layouts/EMSPortal/app/project/resources/images/icon-showMenu.png');

		&:hover {
			background-image: url('/_layouts/EMSPortal/app/project/resources/images/icon-showMenuOver.png');
		}
	}
}

.emspeed-menu {
  background-color: $color-emspeed-left-menu-bg;
  padding: 0;
  margin: 0; //8px 0px 8px 8px;
  //width: 120px;
  list-style: none; 
  //border: 1px solid #d7d7d7; 
  position: absolute;
  top: 21px;
  width: 148px;

	li {
		//border-top: 1px solid $color-emspeed-left-menu-bg;
		//border-bottom: 1px solid $color-emspeed-left-menu-bg;
		//border-left: 1px solid $color-emspeed-left-menu-bg;
		border-right: 1px solid #6084a8;
		display: block;
		cursor: pointer;
		color: $color-emspeed-left-menu-text;
		position: relative;
		height:30px;
		*height: 30px; //* IE 7 hack. 

		div.emspeed-menu-icon {
            //width: 20px;
            padding: 5px 7px;
            float: left;
        }

        div.emspeed-menu-link {
            width: 100px;
            float: left;
            padding: 6px 0;
        }

		img {
			height: 16px;
			width: auto;
		}

		&.emspeed-item-over{
			background-color: #fff; //$color-emspeed-left-menu-hover;
			border-top: 1px solid #6084a8;
			border-bottom: 1px solid #6084a8;
			border-left: 1px solid #6084a8;
			border-right: 1px solid #fff;
		}

		&:hover {
			background-color: #fff; //$color-emspeed-left-menu-hover;
			border-top: 1px solid #6084a8;
			border-bottom: 1px solid #6084a8;
			border-left: 1px solid #6084a8;
			border-right: 1px solid #6084a8;
		}

		&.emspeed-menu-item-external {
			background-color: #d5e1f7;
			border-right: 1px solid #6084a8;
			//border: 1px solid #d5e1f7
		}

		&.emspeed-menu-item-external:hover {
			background-color: #e1ebfd;
			//animation: menu-hover 1s;
			//-webkit-animation: menu-hover 1s;
		}

		a {
			padding: 7px 12px;
			display: block;
			text-decoration: none; 

			&:hover {
				background-color: $color-emspeed-left-menu-hover; 
			}
			&:active{
				background-color: $color-emspeed-left-menu-active; 
			}
		}

		/*
		&:first-child {
			border-top: none; 
		}
		
		&:last-child {
			border-bottom: none; 
		}*/
		
		.empty {
			padding: 7px 12px; 
		}


		&:after {
			content: "."; 
			visibility: hidden; 
			display: block; 
			height: 0; 
			clear: both;
		}

		br.clearfix {
			clear: both;
			visibility:hidden;
			height:0;
		}
	}

}

.emspeed-menu-show-hide {
	cursor: pointer;
	background-image: url('_layouts/EMSPortal/app/project/resources/images/menu_expaned.png');
    background-repeat: no-repeat;
    width: 13px;
    height: 68px;
}

.emspeed-menu-tab {
	background-color: #fff;
	color: #222;
	margin: 2px 0;

	li {
		padding: 4px 15px;
		background-color: #d1d1d1;

		a {
			background-color: red;
			text-decoration: none;
		}
	}
}
