
.myprojects-grid .x-column-header-inner {
    line-height: normal;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: left;
	color:white;
	background-image: none;
    background-color: #5F86AF; 
    font-size: 14px;
    height: 150px;
}

.myprojects-grid .x-grid-row { 
    height: 50px;
}

.myprojects-grid .x-grid-row .x-grid-cell { 
    background-color: #fff; 
    color: #000; 
    font-size: 14px;
} 
 
.myprojects-grid .x-grid-row-alt .x-grid-cell { 
    background-color: #EAF1F9; 
    color: #000; 
}

.myprojects-grid .x-grid-cell-inner {
    overflow: hidden;
    padding: 15px 20px 10px 5px;
    //white-space: nowrap;
    white-space: normal;
	color:Black;

}
 
/*+- OmniWorks Replacement History - EPort`src`UI`SharePoint`STYLES`EMSPortal:EMSGrid.css;1 */
/*       1*[1752534] 22-APR-2013 19:23:47 (GMT) MGusmano */
/*         "Add stature page and addl files to Client UI" */
/*+- OmniWorks Replacement History - EPort`src`UI`SharePoint`STYLES`EMSPortal:EMSGrid.css;1 */
