/**
cd C:\inetpub\ext-4.2.1.883\packages\my-custom-theme
go
**/

$base-color: #6084A8 !default;
$body-background-colorx: #FFFFFF !default;
$panel-frame-border-width: 1px !default;
$color1: yellow !default;
$button-default-color: white !default;
$menu-border-color: #EDEDED !default;
$border-layout-ct-background-color: #FFFFFF !default;
$toolbar-footer-background-color: #FFFFFF !default;
$panel-body-border-color: #EDEDED !default;
$panel-header-padding: 3px 3px 3px 10px !default;

