@include extjs-panel-ui(
    $ui-label: 'highlight-framed',
    $ui-header-background-color: red,
    $ui-border-color: '#6084A8',
    $ui-header-border-color: red,
    $ui-body-border-color: red,
    $ui-border-width: 1px,
    $ui-border-radius: 5px
);

@include extjs-panel-ui(
    $ui-label: 'EMSPEED',

    $ui-border-color: #6084A8,
    $ui-border-radius: 0 0 6px 6px,
    $ui-padding: 15px,
	$ui-body-background-color: white,
	$ui-body-color: $base-color,
	$ui-body-border-width: 0px
);
