@include extjs-tab-ui(
    $ui: 'emspeed',
    $ui-background-color: #FFFFFF,
    $ui-background-color-over: #EDEDED,
    $ui-background-color-active: #EDEDED,
    $ui-background-color-disabled: $tab-base-color-disabled,
	$ui-border-radius: $tab-border-radius,
    $ui-border-width: 1px,
    $ui-margin: $tab-margin,
    $ui-padding: $tab-padding,
    $ui-text-padding: $tab-text-padding,
    $ui-border-color: #ffffff,
    $ui-border-color-over: #6084A8,
    $ui-border-color-active: #6084A8,
    $ui-border-color-disabled: $tab-border-color-disabled,
    $ui-cursor: $tab-cursor,
    $ui-cursor-disabled: $tab-cursor-disabled,
    $ui-font-size: $tab-font-size,
    $ui-font-size-over: $tab-font-size-over,
    $ui-font-size-active: $tab-font-size-active,
    $ui-font-size-disabled: $tab-font-size-disabled,
    $ui-font-weight: $tab-font-weight,
    $ui-font-weight-over: $tab-font-weight-over,
    $ui-font-weight-active: $tab-font-weight-active,
    $ui-font-weight-disabled: $tab-font-weight-disabled,
    $ui-font-family: $tab-font-family,
    $ui-font-family-over: $tab-font-family-over,
    $ui-font-family-active: $tab-font-family-active,
    $ui-font-family-disabled: $tab-font-family-disabled,
    $ui-line-height: $tab-line-height,
    $ui-color: grey,
    $ui-color-over: blue,
    $ui-color-active: black,
    $ui-color-disabled: $tab-color-disabled,
    $ui-background-gradient: $tab-background-gradient,
    $ui-background-gradient-over: $tab-background-gradient-over,
    $ui-background-gradient-active: $tab-background-gradient-active,
    $ui-background-gradient-disabled: $tab-background-gradient-disabled,

    $ui-inner-border-width: $tab-inner-border-width,
    $ui-inner-border-color: $tab-inner-border-color,

    $ui-icon-width: $tab-icon-width,
    $ui-icon-height: $tab-icon-height,
    $ui-icon-spacing: $tab-icon-spacing,
    $ui-icon-background-position: $tab-icon-background-position,

    $ui-glyph-color: $tab-glyph-color,
    $ui-glyph-color-over: $tab-glyph-color-over,
    $ui-glyph-color-active: $tab-glyph-color-active,
    $ui-glyph-color-disabled: $tab-glyph-color-disabled,
    $ui-glyph-opacity: $tab-glyph-opacity,
    $ui-glyph-opacity-disabled: $tab-glyph-opacity-disabled,

    $ui-opacity-disabled: $tab-opacity-disabled,
    $ui-text-opacity-disabled: $tab-text-opacity-disabled,
    $ui-icon-opacity-disabled: $tab-icon-opacity-disabled,

    $ui-closable-icon-width: $tab-closable-icon-width,
    $ui-closable-icon-height: $tab-closable-icon-height,
    $ui-closable-icon-top: $tab-closable-icon-top,
    $ui-closable-icon-right: $tab-closable-icon-right,
    $ui-closable-icon-spacing: $tab-closable-icon-spacing,
    
    $ui-border-bottom-color: $tabbar-strip-border-color
	
);
